<script>add_css("/css/user_panel.css?<%=Time.now.to_i%>",
                "/css/profile.css?<%=Time.now.to_i%>")</script>

<div id="user-display">
<%=display_user_panel(user['id'], " <button type=\"button\" id=\"edit-profile\">Edit</button>", "completions: #{completions}<br><br>score: #{user['score']}<br><br>...")%>
</div>

<div id="user-feed">
    <%=display_activity_feed([user['id']])%>
</div>

<script> 
    document.getElementById("edit-profile").addEventListener("click", function() {
        window.location.href = "/users/" + <%=user['id']%> + "/edit";
    });
</script>