<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projekt #2</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css?<%=Time.now.to_i%>">
    <script src="/js/add_css.js?<%=Time.now.to_i%>"></script>
</head>
<body>
  <%if !header_hidden?%>
    <header>
      <span><a href='/'>Webbserverprogrammering 1 - Projekt 2 - mall</a></span>
      <%if session[:user]%>
        <span><a><%=session[:user][:name]%>#<%=session[:user][:id]%></a></span>
        <span><a href='/users/logout'>Log out</a></span>
      <%else%>
        <span><a href='/users/login'>Log in</a></span>
      <%end%>
      
    </header>
  <%end%>
  <main>
  <%=yield%>
  </main>
</body>
</html>