<div class="user-panel"> 
    <div class="header">
        <div class="profile-picture"><img src="/img/glhf.png?<%=Time.now.to_i%>"/></div>
        <div class="info">
            <span><%=user['username']%>#<%=user['id']%></span>
            <span><%=info%></span>
        </div>
    </div>
    <div class="content">
       <%=content%>
    </div>
</div>