<script>add_css("/css/levels.css?<%=Time.now.to_i%>")</script>

<h2>Levels</h2>

<div id="search">
    <form method="get" action="/levels">
        <input type="text" name="search" placeholder="Search" value="<%=params[:search]%>">
    </form>
</div>

<div id="container">
    <%levels.each do |level|%>
        <a href="levels/<%=level['id']%>">
            <div class="level"><div class="name"><%="#{level['name']}##{level['ingame_id']}"%></div> <div class="info"><span>Difficulty: <%=level['difficulty']%></span> <span>Length: <%=level['length_text']%></span> <span>Completions: <%=Completions.completions_of_level(level['ingame_id'])%></span></div></div>
        </a>
    <%end%>
</div>