<script>add_css("/css/levels.css?<%=Time.now.to_i%>")</script>

<h2>Collections</h2>

<script>const params = new URLSearchParams(window.location.search);</script>

<%if session[:user]%>
    <form action="/users/<%=session[:user][:id]%>/collections/new" method="get">
        <input type="hidden" name="level_id" id="level_id">
        <button type="submit">New collection</button>
    </form>
    <script>
        if (params.has('level_id')) {
            document.getElementById('level_id').value = params.get('level_id');
        }
    </script>
<%end%>

<div id="container">
    <%collections.each do |collection|%>
        <a href="/collections/<%=collection['id']%>">
            <div class="level">
                <div class="name"><%=collection['name']%>
                    <span class="add-to-collection" style="display: none;">
                        <form action="/collections/<%=collection['id']%>/add" method="post">
                            <input type="hidden" name="level_id" class="level_id">
                            <button type="submit">Add level</button>
                        </form>
                    </span>
                </div> 
                <div class="info">
                    <span><%=collection['description']%></span> 
                </div>
            </div>
        </a>
    <%end%>
</div>

<script>
    if (params.has('level_id')) {
        document.querySelectorAll('.add-to-collection').forEach(element => {
            element.style.display = "inline";
            element.querySelector('.level_id').value = params.get('level_id')
        })
    }
</script>