<script>add_css("/css/levels.css?<%=Time.now.to_i%>")</script>

<h2>Collections</h2>

<div id="search" style="display: none;">
    <form method="get" action="/collections">
        <input type="text" name="search" placeholder="Search" value="<%=params[:search]%>">
    </form>
</div>

<div id="container">
    <%collections.each do |collection|%>
        <a href="collections/<%=collection['id']%>">
            <div class="level">
                <div class="name"><%=collection['name']%></div> 
                <div class="info">
                    <span><%=collection['description']%></span> 
                </div>
            </div>
        </a>
    <%end%>
</div>